/*
Developer name: Jeandre Melaria
Project title: ToDo List
Platform: Materialize css
Programming language: HTML5, CSS3, Materialize css,
IDE tool: Visual Studio Code
Database:  -
Project type: ToDo List
File created date: 19.03.2018
Last modified:
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - Global
// - Media queries

// === === Variables === === //
@containerBgColor: #333;
@leftBgColor: rgba(75,0,130, 0.6);
@leftButtonHoverColor: rgba(161, 11, 11, 0.3);
@rightBgColor:rgba (43, 43, 43, 0.8);
@rightButtonHoverColor: rgba(92, 92, 92, 0.3);
@hoverWidth:75%;
@otherWith:25%;
@speed:1000ms;
@font: 'Franklin Gothic Medium','Arial Narrow','Arial','sans-serif';
@fontSize:4rem;


// === === Functions === === //

// === === Mixings === === //
.button {
  display:block;
  position:absolute;
  left: 50%;
  top:40%;
  height:2.5rem;
  padding-top:1.3rem;
  width:15rem;
  text-align:center;
  color:#fff;
  border: #fff solid 0.2rem;
  font-size: (@fontSize - 3rem);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform:translateX(-50%);
}

.splitLeft .button:hover {
  background-color:@leftButtonHoverColor;
  border-color:@leftButtonHoverColor;
}
.splitRight .button:hover {
  background-color:@rightButtonHoverColor;
  border-color:@rightButtonHoverColor;
}
.container-fluid {
  position: relative;
  width: 100%;
  height:100%;
  background:@containerBgColor;
}
.split {
  position: absolute;
  width:50%;
  height: 100%;
  overflow:hidden;
}

.split.left {
  left:0;
  background: url('../img/todo.jpg') center center no-repeat;
  background-size: cover;
}
.split.left:before {
  position: absolute;
  content:"";
  width: 100%;
  height: 100%;
  background:@leftBgColor;
}
.split.right {
  right:0;
  background: url('../img/writing.jpg') center center no-repeat;
  background-size: cover;
}

// === === Global === === //
html, body {
  margin:0;
  padding:0;
  font-family: @font;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}
h1 {
  font-size: @fontSize;
  color:white;
  position: absolute;
  left:50%;
  top:20%;
  transform:translateX(-50%);
  white-space: nowrap;
}

// === === Media queries === === //